<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Resume - Start Bootstrap Theme</title>
        <link rel="icon" type="image/x-icon" href="images/icon.jpeg" />
        <!-- Font Awesome icons (free version)-->
        <script src="https://use.fontawesome.com/releases/v6.1.0/js/all.js" crossorigin="anonymous"></script>
        <!-- Google fonts-->
        <link href="https://fonts.googleapis.com/css?family=Saira+Extra+Condensed:500,700" rel="stylesheet" type="text/css" />
        <link href="https://fonts.googleapis.com/css?family=Muli:400,400i,800,800i" rel="stylesheet" type="text/css" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="stylesheets/style.css" rel="stylesheet" />
    </head>
    <body id="page-top">
        <!-- Navigation-->
        <nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top" id="sideNav">
            <a class="navbar-brand js-scroll-trigger" href="#page-top">
                <span class="d-block d-lg-none">Khushboo Koshti</span>
                <span class="d-none d-lg-block"><img class="img-fluid img-profile rounded-circle mx-auto mb-2" src="images/Khushboo-photo.jpeg" alt="..." /></span>
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav">
                    <li class="nav-item"><a class="nav-link" href="https://ca.linkedin.com/" target="_blank">LinkedIn</a></li>
                    <p></p>
                    <li class="nav-item"><a class="nav-link" href="https://github.com/khushbookoshti" target="_blank">GitHub</a></li>
                    <p></p>
                    <li class="nav-item"><a class="nav-link" href="files/Khushboo Koshti Non-Technical Resume.pdf" target="_blank">Resume</a></li>
                    <li class="nav-item"><a class="nav-link"></a></li>
                </ul>
            </div>
        </nav>
 
            <section class="resume-section" id="Projects">
                <div class="resume-section-content">
                    <h2 class="mb-5">Services</h2>
                    <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
                        <div class="flex-grow-1" style="margin-left: -25px;">
                            <a></a>
                            <h3 class="mb-0">Programming Language</h3>
                            <div class="subheading mb-3">C++</div>
                            <p>Able to comprehend technological needs and can function both as an effective team member and with confidence at all levels of management. Can offer both core application development and systems integration.</p>
                        </div>
                        <img src="images/c++.png" alt="..." style="height: 400px;"/>
                    </div>
 
                    <div class="d-flex flex-column flex-md-row justify-content-between mb-5 d2-flex">
                        <div class="flex-grow-1" style="margin-left: 15px;">
                            <h3 class="mb-0">Web Application</h3>
                            <div class="subheading mb-3">HTML5, CSS3</div>
                            <p>Ability to create reusable basic techniques. To ensure accuracy and quality, source code is inspected. Able to  include artistic resources in HTML, including photos, pdfs, and a many more.
</p>

                        </div>
                        <img src="images/html.png" alt="..." style="height: 400px;"/>
                    </div>            
 
                    <div class="d-flex flex-column flex-md-row justify-content-between mb-5 d2-flex">
                        <div class="flex-grow-1" style="margin-left: 15px;">
                            <h3 class="mb-0">Software Development</h3>
                            <div class="subheading mb-3">Python</div>
                            <p>Able to generate custom scripts or low-level designs based on the analysis and creation of business requirements. Able to inform peers and management of problems, solutions, updates, and project status. Able to overcome obstacles to put fresh ideas into practise.</p>
 
                        </div>
                        <img src="images/py.jpeg" alt="..." style="height: 400px;"/>
                    </div>    
                </div>
            </section> 
 
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script src="js/scripts.js"></script>
    </body>
</html>